<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sheffield Streams</title>
    <link rel="stylesheet" href="~/css/mobile.css" />
    <link rel="stylesheet" media="only screen and (min-width : 600px)" href="~/css/desktop.css">
</head>
<body>
    <header>
        <div class="innerHeader">
            <div>
                <h1>@ViewData["PageHeading"]</h1>
                <nav>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="AllFilms">Film List</a></li>
                        <li><a asp-controller="Home" asp-action="Search">Search</a></li>
                        <li><a asp-controller="CMS" asp-action="Index">CMS</a></li>
                    </ul>
                </nav>

            </div>



        </div>
    </header>
    <main>

        @RenderBody()

    </main>


    <footer>
    </footer>

</body>
</html>
