<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>

        <nav>

            <ul>
                <li><a asp-controller="Home" asp-action="AllFilms">All Films</a></li>
                <li><a asp-controller="Home" asp-action="Search">Search Films</a></li>
            </ul>
        </nav>


        @if (User.Identity.IsAuthenticated)
        {
            <h2>You are signed in as @User.Identity.Name</h2>
            <form asp-controller="Security" asp-action="SignOut" method="post">
                <button type="submit">Sign Out</button>
            </form>
        }
        else
        {
           <p><a asp-controller="Security" asp-action="SignIn">Sign In</a></p>

        }

    </header>

    <main>

        @RenderBody()



    </main>

<footer>&copy; 2020</footer> 
</body>
</html>
